html,
body {
	margin: 0;
	padding: 0;
}

body {
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.2em;
	background: #333;
	color: #ffffff;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
}

#main {
  position:absolute; z-index:1;
  width:100%;
	display: none;
  background-color:#fafafa;
  color:#333;
}

#main input[type="checkbox"] {
	width: 20px;
	height: 20px;
  margin: 5px 5px 5px 10px;
}

#entry {
  position:absolute; z-index:1;
  top:28px; left:0;
  height:40px;
  width:100%;
}

#entry input[type="text"] {
  width:100%;
	font-size: 20px;
	font-family: inherit;
  height:40px;
	border: 0;
	outline: none;
	padding:2px 0px 2px 2px; 
  margin:0px 0px 0px 0px;
	border: 1px solid #999999;
}

#entry input::-webkit-input-placeholder {
	font-style: italic;
}

#todo-list {
	margin: 10px 0;
	padding: 0;
	list-style: none;
}

#todo-list li {
	position: relative;
	padding: 5px 5px 5px 0px;
	font-size: 24px;
	border-bottom: 1px solid #cccccc;
}

#todo-list .view label {
	padding: 5px 5px 5px 5px;
}

#todo-list li:last-child {
	border-bottom: none;
}

#todo-list li.done label {
	color: #777777;
	text-decoration: line-through;
}

#todo-list .destroy {
	position: absolute;
	right: 5px;
	top: 6px;
	display: none;
	cursor: pointer;
	width: 20px;
	height: 20px;
	background: url(../image/destroy.png) no-repeat;
}

#todo-list li:hover .destroy {
  	display: block;
}

#todo-list .destroy:hover {
  	background-position: 0 -20px;
}

#todo-list li.editing {
	border-bottom: none;
	margin-top: -1px;
	padding: 0;
}

#todo-list li.editing:last-child {
	margin-bottom: -1px;
}

#todo-list li.editing .edit {
	display: block;
	width: 95%;
	padding: 5px 5px 5px 5px;
	margin: 0;
}

#todo-list li.editing .view {
	display: none;
}

#todo-list li .view label {
	word-break: break-word;
}

#todo-list li .edit {
	display: none;
}

#clear-completed {
	float: right;
	line-height: 20px;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.1);
	color: #555555;
	font-size: 11px;
	margin-top: 2px;
	margin-bottom: 8px;
	padding: 0 10px 1px;
	cursor: pointer;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	-ms-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
}

#clear-completed:hover {
	background: rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
	-ms-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
	-o-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
	box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
}

#clear-completed:active {
	position: relative;
	top: 1px;
}

#todo-count {
  padding: 5px 0px 0px 0px;
}

#todo-count span {
	font-weight: bold;
}
