body {
  -webkit-user-select:none;
  -webkit-text-size-adjust:none;
}

#wrapper {
  position:absolute;z-index:1;
  top:30px; bottom:25px; left:-9999px;
  width:100%;
  background:#333;
  overflow:auto;
}

#scroller {
  position:absolute;z-index:1;
  top:0px; 
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  width:100%;
  padding:0;
}

#scroller ul {
  list-style:none;
  padding:0;
  margin:0;
  width:100%;
  text-align:left;
}

#scroller li {
  padding:0 10px;
  border-bottom:1px solid #ccc;
  border-top:1px solid #fff;
  background-color:#fafafa;
}

#myFrame {
  position:absolute;
  top:0; left:0;
}

/**
 *
 * Pull down styles
 *
 */
#pullDown, #pullUp {
  background:#333;
  height:40px;
  line-height:40px;
  padding:5px 10px;
  border-bottom:1px solid #ccc;
  font-weight:bold;
  font-size:12px;
  color:#ffffff;
}

#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
  display:block; float:left;
  width:40px; height:40px;
  background:url(../image/pull.png) 0 0 no-repeat;
  -webkit-background-size:40px 80px; background-size:40px 80px;
  -webkit-transition-property:-webkit-transform;
  -webkit-transition-duration:250ms;  
}

#pullDown .pullDownIcon {
  -webkit-transform:rotate(0deg) translateZ(0);
}

#pullUp .pullUpIcon  {
  -webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
  -webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
  -webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
  background-position:0 100%;
  -webkit-transform:rotate(0deg) translateZ(0);
  -webkit-transition-duration:0ms;

  -webkit-animation-name:loading;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
  from { -webkit-transform:rotate(0deg) translateZ(0); }
  to { -webkit-transform:rotate(360deg) translateZ(0); }
}

