html,
body {
	margin: 0;
	padding: 0;
  border:0;
}

body {
	font: 12px;
	background: #333;
  -webkit-user-select:none;
  -webkit-text-size-adjust:none;
}

#header {
  position:absolute;z-index:2;
  top:0px; left:0;
  width:100%;
  height:40px;
  line-height:40px;
  font-weight: bold;
  text-shadow: 0 1px 1px #335413; 
  background-image: -webkit-gradient(linear, left top, left bottom, from(#74b042), to(#56A00E)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#74b042, #56A00E); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient(#74b042, #56A00E); /* FF3.6 */
  background-image:     -ms-linear-gradient(#74b042, #56A00E); /* IE10 */
  background-image:      -o-linear-gradient(#74b042, #56A00E); /* Opera 11.10+ */
  background-image:         linear-gradient(#74b042, #56A00E);    

  color:#eee;
  font-size:20px;
  text-align:center;
}

#header a {
  color:#f3f3f3;
  text-decoration:none;
  font-weight:bold;
  text-shadow:0 -1px 0 rgba(0,0,0,0.5);
}

#todoapp {
  position:absolute;z-index:2;
  top:40px;left:0px;
  width:100%;
  height:100%;
}

#status {
  position:relative;z-index:2;
  padding:0;
  width:100%;
  height:30;
  background: #74b042;
  color:#fff;
  font-size:15px;
  text-shadow: 0 1px 1px #335413; 
  background-image: -webkit-gradient(linear, left top, left bottom, from(#74b042), to(#56A00E)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#74b042, #56A00E); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient(#74b042, #56A00E); /* FF3.6 */
  background-image:     -ms-linear-gradient(#74b042, #56A00E); /* IE10 */
  background-image:      -o-linear-gradient(#74b042, #56A00E); /* Opera 11.10+ */
  background-image:         linear-gradient(#74b042, #56A00E);    
}

#main {
  position:absolute;z-index:2;
  top:23px;left:0px;
  width:100%;
	display: none;
  background-color:#fafafa;
  color:#333;
}

#toggle-all {
  display:none;
	width: 20px;
	height: 20px;
  margin: 10px 5px 5px 10px;
	font-size: 20px;
}

.view input[type="checkbox"] {
	width: 20px;
	height: 20px;
  margin: 5px 5px 0px 10px;
	font-size: 20px;
}

#main label {
}

#main input[type="text"] {
  width:90%;
	font-size: 20px;
	font-family: inherit;
  height:30;
	padding:2px 2px 2px 2px; 
  margin:5px 10px 0px 10px;
	border: 1px solid #999999;
}

#main input::-webkit-input-placeholder {
	font-style: italic;
}

#todo-list {
	margin:0;
	padding:0;
	list-style: none;
}

#todo-list li {
	position: relative;
	padding: 5px 5px 5px 0px;
	font-size: 24px;
	border-bottom: 1px solid #cccccc;
}

#todo-list .view label {
	padding: 5px 5px 5px 5px;
}

#todo-list li:last-child {
	border-bottom: none;
}

#todo-list li.done label {
	color: #777777;
	text-decoration: line-through;
}

#todo-list .edit {
	position: relative;
  float:right;
  margin-right:35px;
	display: none;
	cursor: pointer;
	width: 20px;
	height: 20px;
	background: url(../image/edit.jpg) no-repeat;
  background-size: 20px 20px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%); 
}

#todo-list li:hover .edit {
  display: block;
}

#todo-list .edit:hover {
-webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%);
-o-filter: grayscale(0%);
-ms-filter: grayscale(0%);
filter: grayscale(0%); 
}

#todo-list .destroy {
	position: relative;
  float:right;
  margin-right:5px;
	display: none;
	cursor: pointer;
	width: 20px;
	height: 20px;
	background: url(../image/destroy.png) no-repeat;
}

#todo-list li:hover .destroy {
  	display: block;
}

#todo-list .destroy:hover {
  	background-position: 0 -20px;
}

#todo-list li.editing {
	border-bottom: none;
	margin-top: -1px;
	padding: 0;
}

#todo-list li.editing:last-child {
	margin-bottom: -1px;
}

#todo-list li.editing .edit {
	display: block;
	width: 98%;
	padding: 2px 2px 2px 2px;
	margin: 2px 5px 5px 2px;
}

#todo-list li.editing .view {
	display: none;
}

#todo-list li .view label {
	word-break: break-word;
}

#popupEdit {
  padding:10px;
  width:80%;
  height:30%;
}

#edit a {
	cursor: pointer;
}

#clear-completed {
	float: right;
	line-height: 20px;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.1);
	color: #555555;
	font-size: 11px;
	margin-top: 2px;
	margin-bottom: 8px;
	padding: 0 10px 1px;
	cursor: pointer;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	-ms-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
}

#clear-completed:hover {
	background: rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
	-ms-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
	-o-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
	box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
}

#clear-completed:active {
	position: relative;
	top: 1px;
}

#todo-count {
  padding: 5px 0px 0px 0px;
  text-align:center;
}

#todo-count span {
	font-weight: bold;
}
